body {
	background-color: dimgray;
}

label {
	color:black;
	font-size: 12pt;
}
h1{
	color:black;
}
#div1 {
	background-color: white;
	opacity: 0.8;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 0 auto;
}
a{
	color:red;
}