h1{
	text-align:center;
	font-style: italic;
	color: white;
	font-weight: bolder;
}
body{
	background-image: url("./images/backgroundimage2.jpg");
}
p{
	font-style: italic;
	color: white;
	text-align: center;
}
div{
	text-align: center;
	margin: 0 auto;
}

#main{
	background-color: black;
	opacity: 0.8;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	margin-right: 580px;
	margin-left: 580px;
	margin-top: 100px;
}
a{
	color : red;
}
label{
	color : white;
	font-style: italic;
}

#footer {
	color:white;
}

