body{
    color: dimgray;
}

.header{
    padding: 40px;
    font-size: 40px;
    text-align: center;
    color: white;
    background-image : url("./images/backgroundimage2.jpg");
}

.subheader{
    width: 100%;
    display: inline-block;
    float: left;
    color: black;
    padding-top: 50px;
    padding-left: 40px;
    text-align: left;
}

textarea{
    font-size: 12px;
    margin: 10px;
    height: 100%;
}

.container{
    display: inline-block;
    padding-top: 10px;
    background: white;
}

.gridHolder{
    width: 1500px;
    height: 500px;
    display: grid;
    grid-template-columns: [start] 1fr [middle1] 1fr [middle2] 1fr [end];
    grid-template-rows: [start] 30px [middle1] 30px [middle2] 30px [middle3] auto [end];
    grid-row-gap: 10px;
}

#title{
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: start;
    grid-row-end: middle1;
}

#date{
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: middle1;
    grid-row-end: middle2;
}
#username{
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: middle2;
    grid-row-end: middle3;
}

#textarea{
    margin: 0;
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: middle3;
    grid-row-end: end;
}

#submit{
    width: 10em;  height: 2em;
}

a{
    color: red;
}